name: CI

on:
  push:
    branches:
      - staging
    tags:
      - '*.*.*'
  pull_request:

env:
  staging_synapse_project_id: syn22277124
  production_synapse_project_id: syn22277123
  node_version: 12.x

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ env.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.node_version }}
    - run: npm install
    - name: Lint wiki pages
      run: npm run lint

  publish:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Prepare environment
      run: |
        PUSH_TO=noop
        if [[ $GITHUB_REF == refs/heads/* ]]; then
          VERSION=$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
          if [ "staging" = "$VERSION" ]; then
            PUSH_TO=staging
          fi
        elif [[ $GITHUB_REF == refs/tags/* ]]; then
          VERSION=${GITHUB_REF#refs/tags/}
          PUSH_TO=production
        fi
        echo ${PUSH_TO}
        echo "PUSH_TO=${PUSH_TO}" >> $GITHUB_ENV
    - name: Set up Python 3.8
      if: env.PUSH_TO != 'noop'
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Set Synapse credentials
      if: env.PUSH_TO != 'noop'
      run: |
        printf "%s\n" \
          "[authentication]" \
          'username=${{ secrets.SYNAPSE_USERNAME }}' \
          'authtoken=${{ secrets.SYNAPSE_PAT }}' | tee -a ~/.synapseConfig >/dev/null
    - name: Install requirements
      if: env.PUSH_TO != 'noop'
      run: pip install challengeutils==4.0.1
    - name: Deploy to staging Synapse project
      if: env.PUSH_TO == 'staging'
      run: |
        cd wiki
        challengeutils push-wiki ${{ env.staging_synapse_project_id }}
    - name: Deploy to production Synapse project
      if: env.PUSH_TO == 'production'
      run: |
        challengeutils mirror-wiki \
          ${{ env.staging_synapse_project_id }} \
          ${{ env.production_synapse_project_id }}