name: ci

on:
  push:
    branches:
      - staging
    tags:
      - '*.*.*'
  pull_request:

env:
  staging_synapse_project_id: syn22277124
  production_synapse_project_id: syn22277123

jobs:
  # test:
    # Consider validating the wiki config
    # challengeutils validate-wiki-config wiki_config.json

  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Prepare environment
      run: |
        PUSH_TO=noop
        if [[ $GITHUB_REF == refs/heads/* ]]; then
          VERSION=$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
          if [ "staging" = "$VERSION" ]; then
            PUSH_TO=staging
          fi
        elif [[ $GITHUB_REF == refs/tags/* ]]; then
          VERSION=${GITHUB_REF#refs/tags/}
          if [[ $VERSION =~ ^[0-9]{1,3}\-[0-9]{1,3}\-[0-9]{1,3}$ ]]; then
            PUSH_TO=production
          fi
        fi
        echo "PUSH_TO=${PUSH_TO}" >> $GITHUB_ENV
    - name: Set up Python 3.6
      if: env.PUSH_TO != 'noop'
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Set Synapse credentials
      if: env.PUSH_TO != 'noop'
      run: |
        printf "%s\n" \
          "[authentication]" \
          "username=${SYNAPSE_USERNAME}" \
          'apikey="${SYNAPSE_API_KEY}"' | tee -a ~/.synapseConfig >/dev/null
    - name: Deploy to staging Synapse project
      if: env.PUSH_TO == 'staging'
      run: |
        git clone --branch wiki_sync https://github.com/Sage-Bionetworks/challengeutils.git
        cd challengeutils
        pip install -e .
        cd ../wiki
        challengeutils sync-wiki ${{ env.staging_synapse_project_id }} wiki_config.json
    - name: Deploy to production Synapse project
      if: env.PUSH_TO == 'production'
      run: |
        challengeutils mirror-wiki \
          ${{ env.staging_synapse_project_id }} \
          ${{ env.production_synapse_project_id }}